# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment variables
.env

# Django
db.sqlite3
staticfiles/
media/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log